
.Counter{display: flex ;
    justify-content: space-between;
    width: 100%;
    background-color:grey;
    height: 180px;
    color: white;
    font-size: 110px;
    text-align: center;
    padding-top: 10px;
}
    
    

  